:root {
	--color-white: #fff;
	--color-gray-light: #eee;
	--color-gray: #d1d1d1;
	--color-gray-dark: #373a47;
	--color-black: #111;
  --color-type: #373F49;
  --font-family-header: "Avenir", Tahoma, Arial, Helvetica, sans-serif;
  --font-family-body: "Avenir", Tahoma, Arial, Helvetica, sans-serif;
	--font-size-xl: 2em;
	--font-size-lg: 1.25em;
	--font-size-md: 1;
	--font-size-sm: .75em;
	--font-size-xs: .5em;
  --font-weight-lighter: 100;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --font-weight-bolder: 900;
}

@import 'typography';
@import 'navigation';
@import 'lists';
@import 'links';
@import 'layout';
